# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\UpGrad\Course\Course 9 - Capstone Project\Self -Assignment\FoodOrderingAppBackend-STUB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
